.App {
  text-align: center;
}

.Crosshairs {
  display: flex;
  flex-direction: column;
  height: 500px;
  background-repeat: no-repeat;
}

.Crosshairs .row {
  flex: 1;
  display: flex;
}

.Crosshairs .row:first-of-type {
  border-bottom: 1px dotted #000;
}

.Crosshairs .row .cell {
  flex: 1;
}
.Crosshairs .row .cell:first-of-type {
  border-right: 1px dotted #000;
}
